a {
  color: #e5e7eb;
  text-decoration: none;
}
.messages-conteiner > p {
  margin: 0;
}
body {
  border: 0px;
  margin: 0px;
  font-size: 100%;
  font: inherit;
}
.header {
  background-color: #1f2937;
  padding: 0px 100px 80px 80px;
}
.head-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  color: #e5e7eb;
  font-size: 18px;
  margin: 0;
}
.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px 25px;
  border-radius: 7px;
  border-color: transparent;
  margin-top: 10px;
}
.links {
  display: flex;
  gap: 20px;
  color: white;
}
.legs {
  display: flex;
  gap: 60px;
}
.text-button {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}
.image {
  display: flex;
  flex: 1;
}
.information {
  display: flex;
  flex-direction: column;
  padding: 0px 30px 100px 30px;
}
.title-information {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}
.information-squares {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid;
  border-color: #3882f6;
  border-radius: 10px;
}
.squarewithtext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.extra-text {
  background-color: #e5e7eb;
  padding: 5rem 10rem;
}
.quote {
  font-style: italic;
  font-size: 24px;
  color: #1f2937;
}
.facu {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
}
.white-box {
  padding: 150px;
}
.signup-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: #3882f6;
  border-radius: 5px;
}
.convincing-message {
  font-size: 24px;
  color: #e5e7eb;
}
.free-month {
  font-size: 18px;
  color: #e5e7eb;
}
.messages-conteiner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  background-color: #1f2937;
  font-size: 12px;
}
.signup-button {
  background-color: transparent;
  padding: 5px 25px;
  border-radius: 7px;
  color: #e5e7eb;
  border-style: solid;
  border-color: #e5e7eb;
}
